form {
  text-align: center;
  width: 100%;
}

input {
  border-radius: 2%;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(81, 113, 72);
  color: black;
  height: 2.1em;
  margin-bottom: .4em;
  margin-top: .4em;
  padding-left: 5px;
}

.create-expense {
  background: black;
  border: none;
  border-radius: 5%;
  box-shadow: 0px 0px 3px rgb(62, 108, 47);
  color: white;
  cursor: pointer;
  height: 2.5em;
  padding: 7px;
  text-shadow: 1px 1px #434343;
}

.create-expense:hover {
  background: white;
  color: black;
  text-shadow: 1px 1px #ebebeb;
  transition: ease-in;
}

@media only screen and (max-width: 504px) {
  .expense-form {
    height: 10em;
  }
}

@media only screen and (min-width: 504px) and (max-width: 984px) {
  .expense-form {
    height: 7em;
  }
}

@media only screen and (min-width: 984px) {
  .expense-form {
    height: 4.5em;
  }
}