.auth-form {
  border-radius: 2%;
  position: relative;
  height: 15em;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}
.auth-form button {
  border-radius: 5%;
  padding: 5px;
}

.auth-form h2 {
  font-weight: 300;
  color: white;
  position: relative;
  top: 1em;
}